<h1>Are you sure?</h1>

<p>This will permanently delete <%= @list.name %>. <%= "In addition, the following talks will be marked as deleted and moved to your personal list:" unless @list.talks_in_series.empty? %></p>
<% unless @list.talks_in_series.empty? %>
<ul>
  <% @list.talks_in_series.each do |talk| %>
   <li><%= talk.title %>
  <% end %>
</ul>
<% end %>
<%= link_to 'Delete', @list, :method => :delete, :class => "btn" %> 
 or <%= link_to 'Cancel', '#', :class => 'modal_close' %>

