<div>
    <%= add_talk_to_list_button %>
    <%= vcal_button %>
    <% if User.current %>
    <%= tell_a_friend_button %>
    <% end %>
    <%= contact_organizer_button %>
  <% if @talk.editable? %>
  <div class="btn-group">
    <%= link_to icon_tag('icon-cog'), '#', :class => "btn dropdown-toggle", :data => { :toggle => "dropdown"} %>
    <ul class="dropdown-menu">
      <li><%= icon_link 'icon-pencil','Edit this talk', talk_path(:action => "edit", :id => @talk) %></li>
      <li><%= icon_link 'icon-pencil', 'Add a special message', talk_path(:action => 'edit_special_message', :id => @talk), :rel => 'talks-modal' %></li>
      <li><%= text_button %></li>
      <li><%= icon_link 'icon-trash','Delete this talk', talk_path(:action => 'delete', :id => @talk) %></li>
    </ul>
  </div>
  <% end %>
</div>
