<a id="go" rel="leanModal" name="smartform" href="#smartform">Just copy &amp; paste into <em>SmartForm</em></a>
<table>
	<tr><td><%= error_messages_for :talk %></td><td></td></tr>
	<tr>
		<td>
	<%= form_for(@talk, :html => {:multipart => true, :id => 'edittalk'}) do |f| %>
	<%= f.hidden_field :series_id %>
	
	<h3>Title</h3>
	<%= f.text_field :title, {:size => 60, :class => 'wide' } %>
	
	<h3>Speaker's name and affiliation</h3>
	<%= f.text_field :name_of_speaker, :size => '60', :class => 'wide'  %>
	
	<h3>Speaker's e-mail</h3>
	<%= f.text_field :speaker_email, :size => '60', :class => 'wide'  %>

	<h3>Date YYYY/MM/DD and Time HH:MM</h3>
	<%= f.text_field :date_string, :class => 'date' %>  from <%= f.text_field :start_time_string, :class => 'date' %> to <%= f.text_field :end_time_string, :class => 'date' %> 

	<h3>Venue</h3>
	<%= f.text_field :venue_name, {:size => 60, :class => 'wide' } %>
	
	<h3>Abstract</h3>
	<%= f.text_area :abstract, {:cols => 57, :rows => 10, :class => 'wide'  } %>
	
	<h3>Language</h3>
	<%= f.text_field :language_name, {:size => 60, :class => 'wide'} %>

	<p><%= submit_tag 'Submit'%> or <%= link_to 'Cancel', @talk.id ? posted_talk_url(:id => @talk.id) : list_url(:id => @talk.series.id ) %></p>
	
	<% end %>
	
	<p>When you click 'submit', an email will be sent to the organizers of <%= link_list @talk.series %> series.</p>
</td>
<td id='edit_talk_help_container'>
	<div id='edit_talk_help'>
		<p>Use this form to provide details about the talk.  If you provide an e-mail address for the speaker, they will be allowed to edit these details, as will any of the managers of <%= @talk.series.name %>.</p>
		<p>Click save when you are happy</p>
	</div>
</td>
<tr>	
</table>
<div id="smartform" class="lean_modal">
Please copy &amp; paste the seminar announcement text (e.g., from an email) into the box below. We will automatically recognize the information and fill out the form for you.
<form>
<textarea id="inputbox" cols="63" rows="20"></textarea>
<input type="submit" class="modal_close" value="Apply" /> or <a class="modal_close" href="#">Cancel</a>
</form>
</div>
<script>
var talk_edit_rules = {
	'#edittalk input#posted_talk_title' : function(el){ default_value(el,'Title to be confirmed'); },
	'#edittalk input#posted_talk_name_of_speaker' : function(el){ default_value(el,'Speaker to be confirmed'); },
	'#edittalk textarea#posted_talk_abstract' : function(el){ default_value(el,'Abstract not available'); },	
	'#edittalk input#posted_talk_venue_name' : function(el){ default_value(el,'Venue to be confirmed'); }
}

Behaviour.register(talk_edit_rules);
</script>
<%= javascript_include_tag "smartform.js" %>
<script>
   (function ($) {
   $(document).ready(function()
    {
        $('#edittalk input').talk_helper(<%= @talk.series.id %>, 'posted_talk_');
        $('#edittalk textarea').talk_helper(<%= @talk.series.id %>, 'posted_talk_');


       $("#smartform form").submit(function() { parse_smart_form(jQuery("#inputbox")); return false;});
       $('a[rel*=leanModal]').leanModal({ top : 100, closeButton: ".modal_close"});		
    });
    })(jQuery);
</script>
