<h1>Create an account</h1>

<p><%= SITE_NAME %> is aimed at people interested in seminars and talks taking place in and around <%= HOST_INSTITUTE %>.</p>

<p>Our goals are three folds:</p>
<ul>
<li>We make organizing, managing, and sharing seminars easy.</li>
<li>We help researchers connect to each other through seminars.</li>
<li>We try to lower the boundary between academic and non-academic communities.</li>
</ul>
<%= form_for(@user) do |user| %>
	<%= user.hidden_field :send_email, :value => 1 %>
	<%= error_messages_for :user %>
	<p>If you are organizing seminars, please use the form below to sign up!</p>
	<table>
	<tr><td>E-mail address:</td>
	<td><%= user.email_field :email %> </td></tr>
	<tr><td>Password</td>
	<td><%= password_field :user, :password, :value => '' %></td></tr>
	<tr><td>Password confirmation</td>
	<td><%= password_field :user, :password_confirmation %></td></tr>
	</table>
	and please also confirm that you are a human by filling out the following recaptcha:
  <%= recaptcha_tags %>
  <%= submit_tag 'Sign up' %>
	

<% end %>
