<!-- header -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
	<li>
	  <%= link_to SITE_NAME, home_path, :class => "brand" %>
	</li>
	<li>
	  <%= link_to "About", document_path('Documentation') %>
	</li>
      </ul>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
	  <% if User.current %>
	  <li><%= link_to content_tag(:i,'',:class => 'icon-plus-sign')+'new list', new_list_path %></li>
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      <%= content_tag(:i,'',:class => 'icon-plus-sign')+'new talk' %>
	      <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <div rel="tooltip" title="Which list would you like to add a talk to?">
		<% User.current.lists.sort_by { |list| list.name }.each do |list| %>
		<li><%= link_to list.name, new_talk_path(:list_id => list.id), :class => "list#{list.id}" %></li>
		<% end %>
	      </div>
	    </ul>
	  </li>
	  <% end %>
	  <li><%= form_tag( { :controller => 'search', :action => 'results' }, {:id => 'smallsearch', :class => "navbar-search pull-left"} )  do %>
	    <%= text_field_tag 'search', '', :class => "search-query", :placeholder => "Search" %>
	    <%= submit_tag 'Go', :class => 'hide' %>
	    <% end %></li>
       </ul>
      <ul class="nav pull-right">
	<% if User.current %>
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	    <%= User.current.name %>
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	    <li><%= link_to 'Edit your details', edit_user_path(User.current) %></li>
	    <li><%= link_to 'Change your password', change_password_user_path(User.current) %></li>
	    <li><%= link_to 'Manage e-mail reminders', reminder_path %></li>
	    <li class="divider"></li>
	    <div rel="tooltip" title="Lists that you manage">
	    <li><%= link_list User.current.personal_list %></li>
	    <% (User.current.lists - [User.current.personal_list]).sort_by { |list| list.name }.each do |list| %>
		<li><%= link_list list, nil, "list#{list.id}" %></li>
		<% end %>
	    </div>
	    <li class="divider"></li>
	    <li><%= link_to 'Log out', login_path(:action => 'logout') %></li>
	  </ul>
	</li>
	<% else %>
	<li><%= link_to 'Create an account', new_user_path %>
	<li><%= link_to_sign_in %></li>
	<% end %>
      </ul>
      </div><!--/.nav-collapse -->
      
    </div>
  </div>
</div>

