<div id="talks-calendar">
</div>
<% if User.current %>
<h2>Lists that you manage</h2>
<div class="btn-group-vertical">
<%= link_list User.current.personal_list, @list, 'btn' %>
<% (User.current.lists - [User.current.personal_list]).sort_by { |list| list.name }.each do |list| %>
<%= link_list list, @list, "btn list#{list.id}" %>
<% end %>
</div>
<h2>Recently viewed talks</h2>
<ul>
<% User.current.recently_viewed_talks[0...7].each do |talk| %>
<li><%= link_talk(talk) %> <br/><%= talk.name_of_speaker %></li>
<% end %>
</ul>
<% end %>
<%= render :partial => 'related' %>
