<% if User.current %>
	<h2>For talk organisers</h2>
	<%= link_to 'Create a new list', list_details_url(:action => 'new') %>
	<%= link_to 'Add a new talk', list_details_url(:action => 'choose') %>
	<br/>
	
	<h2>Lists that you manage</h2>
	<%= link_list User.current.personal_list %>
	<br/>
	<% (User.current.lists - [User.current.personal_list]).sort_by { |list| list.name }.each do |list| %>
		<%= link_list list %>
	<% end %>
	
<% else %>
	<%= render 'shared/login'%>
<% end %>
