<h2>All the talks</h2>
<%= render :partial => 'show/add_talk_box', :locals => {:list => nil} %>
<ul class="nav nav-tabs" data-target="#tab-target" data-href='<%= (list_path('all',:today => @today.strftime('%Y%m%d'), :format => 'list', :layout => 'empty')+'&period=%s').html_safe %>' data-deftab='<%= @default_view %>' rel="talks-home-tab">
  <li class="active"><a href="#" id="day">Today</a></li>
  <li><a href="#" id="week">This week</a></li>
  <% if User.current %>
  <li><a href="#" id="starred">Starred</a></li>
  <% end %>
  <li><a href="#" id="all">All</a></li>
</ul>
<div id="tab-target">
</div>
<div class="row">
  <div class="span4">
    <h2>Coming up</h2>
    <%= render :partial => 'show/simple_talk', :collection => @upcoming_talks, :locals => {:max_abstract => 100} %>
  </div>
  <div class="span4">
    <h2>Past talks</h2>
    <%= render :partial => 'show/simple_talk', :collection => @past_talks, :locals => {:max_abstract => 100} %>
  </div>
</div>
