<h1><%= @childtype.pluralize.capitalize %> included in <%= link_list(@list) %></h1>

<p>All <%= "talks in " if @childtype=='list' %> these <%= @childtype.pluralize %> are included by <%= @list.name %>; to add other lists or talks here, go to them and select 'Add to my list(s)'</p>
<ul id="children">
<%= render :partial => 'links' %>
</ul>
<% if @links.empty? %>
<p>(none)</p>
<% end %>

<p><%= link_to "Return to edit menu", edit_list_path(@list) %>.</p>
