
<div class='listdetail'>
	<%= link_to logo(@list, :medium), list_details_url( :id => @list ) %>
<h1><%= link_list @list %></h1>

<%= @list.details_filtered ? @list.details_filtered.html_safe : nil %>

<div class="btn-toolbar">
<div class="btn-group">
<%= upcoming_link(@today) %>
<%= archive_link(@today) %>
</div>
<div class="btn-group">
<%= icon_button 'icon-check', *add_list_to_list_contents, :data => {:target => 'modal'}, :rel => 'talks-modal' %>
<%= icon_button 'icon-calendar', 'Subscribe using ical/vcal', list_url(:id => @list, :format => :ics, :protocol => 'webcal://') %>
<%= icon_button 'icon-envelope', 'Tell a friend', tell_a_friend_path('tickle[about_id]' => @list.id, 'tickle[about_type]' => 'List'), :data => { :id => 'tell_a_friend'}, :rel => 'talks-modal' %>
</div>
<% if User.current %>
<div class="btn-group">
 <% if @list.editable? %>
 <%= link_to icon_tag('icon-plus')+'Add a new talk', talk_path(:action => 'new', :list_id => @list), :class => "btn" %>
 <% end %>
 <%= link_to icon_tag('icon-cog'), '#', :class => "btn dropdown-toggle", :data => { :toggle => "dropdown"} %>
  <ul class="dropdown-menu">
    <% if @list.editable? %>
    <li><%= link_to icon_tag('icon-pencil')+'Edit this list', list_details_url( :id => @list, :action => "edit" ) %></li>
    <li><%= link_to icon_tag('icon-circle-arrow-left')+'Show a link to submit a talk', list_details_path(:action => 'show_talk_post_url', :id => @list.id), :data => { :id => 'modal'  }, :rel => 'talks-modal' %></li>
    <% end %>
    <li><%= subscribe_by_email_link %></li>
    <li><%= link_to icon_tag('icon-wrench')+'Create custom view', custom_view_path(:action => 'index', :list => @list) %></li>
    <li><%= link_to icon_tag('icon-cog')+'Further detail', list_details_url( :id => @list ) %></li>
  </ul>
</div>
<% end %>
</div>
<!-- <%= auto_discovery_link_tag(:rss, {:action => "rss", :id => @list}) %> -->
</div>

