<div class='detailed'>
<% @errors.each do |error| %>
<span class='error'>Error: <%=error%>. </span>
<% end %>
<% for talk in @talks %>
<%= div_talk do %>
<h2><%= link_talk talk %></h2>
<h3><%= t(:date_and_time).html_safe %></h3>
<p><%= format_time_of_talk talk %></p>
<h3><%= t :venue %></h3>
<p><%= talk_venue(talk) %></p>
<h3><%= t :speaker %></h3>
<p><%= talk_speaker(talk) %></p>
<h3><%= t :abstract %></h3>
<%= talk_abstract(talk) %>
<% if talk.special_message && !talk.special_message.empty? %>
<h3>Special message</h3>
<p class='urgent'><%= talk.special_message %></p>
<% end %>
<p>Part of <%= link_list talk.series %>.</p>
<% end %>
<% end %>
</div>
