<div class='index'>
<% @errors.each do |error| %>
<span class='error'>Error: <%=error%>. </span>
<% end %>
<% if @list_details %>
	<%= render :partial => 'list_details'%>
<% end %>

<div class="btn-toolbar">
<div class="btn-group">
<%= icon_button 'icon-check', *add_list_to_list_contents %>
<%= icon_button 'icon-calendar', 'Subscribe using ical/vcal', list_url(:id => @list, :format => :ics, :protocol => 'webcal://') %>
<%= icon_button 'icon-envelope', 'Tell a friend', tell_a_friend_path('tickle[about_id]' => @list.id, 'tickle[about_type]' => 'List'), true %>
</div>
<div class="btn-group">
<% if @list.editable? %>
	<%= link_to 'Edit this list', list_details_url( :id => @list, :action => "edit" ), :class => 'btn' %>
<% end %>
<%= subscribe_by_email_link %>
<%= link_to 'Further detail', list_details_url( :id => @list ), :class => 'click', :class => 'btn' %>
</div>
</div>


<p class='count'><%= upcoming_link %> and <%= archive_link %>.</p>

<%= render :partial => 'add_talk_box', :locals => {:list => @list} %>

<%= render :partial => 'simple_talk', :collection => @talks %>

<script>Behaviour.register(list_rules);</script>
<p>If you have a question about this list, please contact: <%= @list.users.map {|user| link_user( user ) }.join('; ').html_safe %>.  If you have a question about a specific talk, click on that talk to find its organiser.</p>
</div>
