<h1>Listing tickles</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Created on</th>
    <th>About type</th>
    <th>About</th>
    <th>Sender</th>
    <th>Sender email</th>
    <th>Recipient email</th>
    <th>Sender ip</th>
  </tr>
  
<% for tickle in @tickles %>
  <tr>
    <td><%=tickle.id %></td>
    <td><%= tickle.created_at %></td>
    <td><%= tickle.about_type %></td>
    <td><%= tickle.about_id %></td>
    <td><%= link_user tickle.sender %></td>
    <td><%= tickle.sender_email %></td>
    <td><%= tickle.recipient_email %></td>
    <td><%= tickle.sender_ip %></td>
    <td><%= link_to 'Show', tickle_path(tickle) %></td>
  </tr>
<% end %>
</table>
