<p>
  <b>Created on:</b>
  <%= @tickle.created_at %>
</p>

<p>
  <b>About:</b>
  <%= @tickle.about_id %>
</p>

<p>
  <b>About type:</b>
  <%= @tickle.about_type %>
</p>

<p>
  <b>Sender:</b>
  <%= @tickle.sender_id %>
</p>

<p>
  <b>Recipient email:</b>
  <%= @tickle.recipient_email %>
</p>

<p>
  <b>Sender email:</b>
  <%= @tickle.sender_email %>
</p>

<p>
  <b>Sender name:</b>
  <%= @tickle.sender_name %>
</p>

<p>
  <b>Sender ip:</b>
  <%= @tickle.sender_ip %>
</p>

<%= link_to 'Back', tickles_path %>
