<!DOCTYPE html>
<html lang="en">
<%= render 'shared/header' %>
<body>
  <%= render 'shared/navigationbar' %>
  <div class="container">
    <%= render 'shared/breadcrumbs' %>
    <div id="flash">
      <%= show_flash %>
    </div>
   <div class="row">
      <div class="span12"><%= yield %></div>
    </div>
  </div>
  <%= render 'shared/footer'%>
</body>
</html>
