<!DOCTYPE html>
<html lang="en">
<%= render 'shared/header' %>
<body>
  <%= render 'shared/navigationbar' %>
  <div class="container">
    <%= render 'shared/breadcrumbs' %>
    <div class="row">
      <div class="span4"><%= render :partial => 'shared/sidebox' %></div>
      <div class="span8"><%= yield %></div>
    </div>
  </div>
  <%= render 'shared/footer'%>
</body>
</html>
