document.getElementById('<%= @div_embed %>').innerHTML="<%= stylesheet_link_tag('embedcss').gsub('"','\"').gsub("\n",'').gsub("\r",'').html_safe %><%= yield.gsub('"','\"').gsub("\n",'').html_safe %><p class='talks'>Powered by <a href='<%= home_url %>'><%= SITE_NAME %></a></p>";
