<!DOCTYPE html>
<html lang="en">
<%= render 'shared/header' %>
<body>
<%= render 'shared/navigationbar' %>

<div class="container">
<div class="row">
  <div class="span4"><%= render :partial => 'leftbar' %></div>
  <div class="span8"><%= yield %></div>
</div>
</div>
<!-- end contents -->
<%= render 'shared/footer'%>
</body>
</html>

