<!DOCTYPE html>
<html lang="en">
<%= render 'shared/header' %>
<body>
  <%= render 'shared/navigationbar' %>
  <div class="container">
    <%= render 'shared/breadcrumbs' %>
    <div class="row">
      <div class="span7 offset2">
	<div id='minimal_content'>
	<%= yield %>
	</div>
      </div>
    </div>
    <%= render 'shared/footer'%>
  </div>
</body>
</html>
