<!DOCTYPE html>
<html lang="en">
<%= render 'shared/header' %>
<body>
  <%= render 'shared/navigationbar' %>
  <div class="container">
    <%= render 'shared/breadcrumbs' %>
    <%= show_flash %>
    <div class="row">
      <div class="span3"><%= render :partial => 'shared/sidebox' %></div>
      <div class="span6"><a name="startcontent" id="startcontent"></a><%= yield %></div>
      <div class="span3"><%= render :partial => 'related' %></div>
    </div>
  </div>
  <%= render 'shared/footer'%>
</body>
</html>

